@import "tailwindcss";

@theme {
  --color-primary: #007E85;
  --color-secondary: #6EAB36;
}

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* line-height: 1.5; */
  font-weight: 400;

  color-scheme: light dark;
  background-color: #ECECEC;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
}

.underline-expand {
  position: relative;
}

.underline-expand::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  transition: all 0.3s ease;
}

.underline-expand:hover::after {
  width: 100%;
  left: 0;
}
